<header class="header">
  <div class="header-wrapper">
    <span class="header-option">
      <%= link_to 'Home', root_path, class:"a" %>
    </span>
    <span class="header-option">
      <%= link_to 'About', articles_about_path, class:"a" %>
    </span>
  </div>

  
</header>
